{% extends "blog/base.html" %}

{% block title %}My Blog{% endblock %}

{% block content %}
  <div id="container">
      <h1 id="left">My Blog</h1>
      <a href="{% url 'blog:post_create' %}" class="btn">+</a>
  </div>
  {% for post in posts %}
    <h2>
      <a href="{% url 'blog:post_detail' post.id %}">
        {{ post.title }}
      </a>
    </h2>
    <p class="date">
      Published {{ post.publish }} by {{ post.author }}
    </p>
    {{ post.body|truncatewords:5|linebreaks }}
  {% endfor %}

{% endblock %}
